<div
    class="relative bg-white cursor-pointer rounded-xl shadow-lg overflow-hidden flex flex-col h-full transition-all duration-200 ease-out hover:-translate-y-2 hover:shadow-xl">
    <img class="w-full h-[300px] object-contain rounded-t-xl" [src]="product().imageUrl" alt="product.name"
        [routerLink]="['/product', product().id]" [style.view-transition-name]="'product-image-' + product().id">

    <ng-content />

    <div class="p-5 flex flex-col flex-1">
        <h3 class=" text-lg font-semibold text-gray-900 mb-2 leading-tight" [routerLink]="['/product', product().id]">
            {{product().name}}
        </h3>
        <p class="text-sm text-gray-600 mb-4 flex-1 leading-relaxed">
            {{getShortDescription() }}
        </p>

        <app-start-rating class="mb-3" [rating]="product().rating">
            ({{product().reviewCount}})
        </app-start-rating>

        <div class="text-sm font-medium mb-4">
            {{product().inStock ? ' In stock' : 'Out of stock' }} </div>

        <div class="flex items-center justify-between mt-auto">
            <span class="text-2xl font-bold text-gray-900">
                ${{product().price}}
            </span>
            <button mat-flat-button class="flex items-center gap-2" (click)="store.addToCart(product())">
                <mat-icon>add_shopping_cart</mat-icon>
                Add to cart
            </button>
        </div>

    </div>
</div>