<div appViewPanel>
    <div class="flex justify-between items-center mb-4">
        <h2 class="text-xl font-semibold">Customer Reviews</h2>
        @if(store.user()){
        <button mat-flat-button (click)="store.showWriteReview()">Write a review</button>
        }
    </div>

    @if(store.writeReview()){
    <app-write-review class="mb-6" />
    }

    <app-rating-summary [product]="product()" />
    <div class="flex flex-col gap-4">
        @for(review of product().reviews; track review.id) {
        <app-view-review-item [review]="review" />
        }
    </div>
</div>