<div class="p-8 min-w-[400px] flex flex-col">
    <div class="flex justify-between">
        <div>
            <h2 class="text-xl font-medium mb-1">Sign up</h2>
            <p class="text-sm text-gray-500">Sign up to your account to continue shopping</p>
        </div>
        <button mat-icon-button tabindex="-1" class="-mt-2 -mt-2" mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <form [formGroup]="signUpForm" class="mt-6 flex flex-col" (ngSubmit)="singUp()">
        <mat-form-field class="w-full mb-4">
            <input matInput formControlName="name" type="text" placeholder="Enter your name">
            <mat-icon matPrefix>person</mat-icon>
        </mat-form-field>
        <mat-form-field class="w-full mb-4">
            <input matInput formControlName="email" type="email" placeholder="Enter your username">
            <mat-icon matPrefix>email</mat-icon>
        </mat-form-field>
        <mat-form-field class="w-full mb-4">
            <input matInput formControlName="password" type="password" placeholder="Enter your password">
            <mat-icon matPrefix>lock</mat-icon>
        </mat-form-field>

        <mat-form-field class="w-full mb-4">
            <input matInput formControlName="confirmPassword" type="password" placeholder="Confirm your password">
            <mat-icon matPrefix>lock</mat-icon>
        </mat-form-field>
        <button mat-flat-button class="w-full" type="submit" [disabled]="store.loading()">
            Create account
        </button>
    </form>
    <p class="text-sm text-gray-500 mt-2 text-center">
        Already have an account? <a (click)="openSignInDialog()" class="text-blue-500">Sign in</a>
    </p>
</div>