<div class="mx-auto max-w-[1200px] py-6 px-4">
    <app-back-button class="mb-6" [navigateTo]="['products', 'all']">
        Continue shopping
    </app-back-button>

    @if(store.wishlistCount() > 0){
    <div class=" flex justify-between items-center mb-6">
        <h1 class="text-2xl font-bold">My wishlist</h1>
        <span class="text-gray-500">{{store.wishlistCount()}} items</span>
    </div>

    <div class="responsive-grid">
        @for (product of store.wishlistItems(); track product.id) {
        <app-product-card [product]="product">
            <app-delete-wishlist-button class="!absolute z-10 top-3 right-3" [product]="product" />
        </app-product-card>
        }
    </div>

    <div class="mt-8 flex justify-center">
        <button mat-stroked-button
            class="px-4 py-2 rounded-md border border-red-500 text-red-500 hover:bg-red-50 hover:shadow-md transition-colors duration-200"
            (click)="store.clearWishlist()">Clear
            wishlist
        </button>
    </div>

    }
    @else {
    <app-empty-wishlist />
    }


</div>