@use 'tailwindcss';
@use '@angular/material' as mat;
/* Importing @ngxpert/hot-toast SCSS file. */
@use '@ngxpert/hot-toast/styles';



html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: (
        plain-family: 'Inter',
        brand-family: 'Inter',
        bold-weight: 600,
        medium-weight: 500,
        regular-weight: 400,
      ),
      density: 0,
    )
  );
}


html, body {

  height: 100%;
  margin: 0;
  overflow-x: hidden; // Evitar scroll horizontal indeseado
}



/* --- Estilos globales de componentes --- */

mat-toolbar.elevated {
  box-shadow: var(--mat-sys-level2);
}

button[mat-button],
button[mat-flat-button],
button[mat-stroked-button],
button[mat-raised-button] {
  @include mat.button-overrides(
    (
      filled-container-shape: 6px,
      outlined-container-shape: 6px,
      text-container-shape: 6px,
      protected-container-shape: 6px,
      filled-horizontal-padding: 12px,
      outlined-horizontal-padding: 12px,
      text-horizontal-padding: 12px,
      protected-horizontal-padding: 12px,
      filled-icon-spacing: 0px,
      filled-icon-offset: 1px,
      filled-container-height: 36px,
      outlined-container-height: 36px,
      text-container-height: 36px,
      protected-container-height: 36px,
    )
  );
}

button[mat-stroked-button].danger {
  color: var(--mat-sys-error) !important;
  border-color: var(--mat-sys-error) !important;
}



button[matIconButton].danger {
  @include mat.icon-button-overrides(
    (
      icon-color: var(--mat-sys-error),
      state-layer-color: var(--mat-sys-error),
    )
  );
}

button[matIconButton].small {
  @include mat.icon-button-overrides(
    (
      icon-size: 24px,
      state-layer-size: 28px,
    )
  );
}

mat-icon.small {
  font-size: 20px;
  width: 20px;
  height: 20px;
}

.danger {
  color: var(--mat-sys-error);
}



mat-form-field {
  @include mat.theme(
    (
      density: -4,
    )
  );

  width: 100%;
}

mat-sidenav {
  @include mat.sidenav-overrides(
    (
      container-width: 250px,
      container-shape: 0px,
      container-background-color: white,
      container-divider-color: var(--mat-sys-outline-variant),
    )
  );

  @include mat.list-overrides(
    (
      active-indicator-color: var(--mat-sys-primary),
      active-indicator-shape: 6px,
      list-item-one-line-container-height: 40px,
      list-item-label-text-color: red, // Nota: 'red' es un valor hardcodeado, ¿querías esto?
    )
  );
}

.mdc-notched-outline__notch {
  border-right: none !important;
}

.responsive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 1rem;
}